##### MYSQL 이해하고 사용하기

1. MYSQL를 파이썬에서 열기
    1. sqlalchemy
    2. mysql

2. SELECT * FROM table_name
    1. pandas와 결합하여 사용하기
    2. where (조건부)와 결합하여 사용하기
    3. connector.execute 로 실행하기

3. INSERT INTO ... VALUES ..


10. Local PC에서 MYSQL 사용하기

In [ ]:
# 1.MYSQL를 파이썬에서 열기

# mysql과 SQLAlchemy는 공통 데이타베이스 추상 계층이고 설정하는데 약간의 노력을 요하는 객체 관계형 맵퍼(mapper)

import mysql.connector
import sqlalchemy
from sqlalchemy import create_engine

#\DB 사용자의 Password 지정
pwd = 'rlaehgus1'
#사용할 database지정. 여기서는 findb. 사용자는 root
engine = create_engine('mysql+mysqlconnector://root:'+pwd+'@localhost/findb', echo=False)
connector = engine.connect()    # create_engine으로 db선언후 connect 메소드로 오픈

In [ ]:
# 2. SELECT * FROM table_name

# 2-1. pandas와 결합하여 사용하기
# bond5years는 테이블명, *는 모든것을 다 뽑아내겠다는 뜻. 결국은 해당 테이블에 column,index를 포함하여 테이블 내용을 알고자 할때 사용함.
sql = 'SELECT * FROM bond5years'    
# sql = 'select * from bond5years WHERE year LIKE "%2002%"'
df = pd.read_sql(sql,con=engine)

# 2-2. where (조건부)와 결합하여 사용하기
# LIKE 의미는? %2002%표현은? 2002가 포함된 year모두를 조건으로 찾겠다. 즉, 2002-01-01에서 2002-12-31까지 조건을 찾아냄
# 테이블은 bond5years에서 (FROM)...
sql = 'select * FROM bond5years WHERE year LIKE "%2002%"'
# 인덱스도 지정가능함.
df = pd.read_sql(sql,con=engine, index_col='year')

# 2-3.connector.execute 로 실행하기
sql = 'select * FROM bond5years WHERE year LIKE "%2002%"'
# pandas를 사용하지 않고 개별문으로 시행가능함.
result = connector.execute(sql)

In [ ]:
# 3. INSERT INTO ... VALUES ..

# insert into할때 values 2개를 받아서 순서데로 year, bbb_ 에 넣는다.
sql = "INSERT INTO bond5years (year, bbb_) values(%s, %s)"
# values는 %s로 변수 처리하고, execute할때 s_date, bbb_value값을 전달하는것
connector.execute(sql, s_date, bbb_value)

##### 10. Local PC에서 MYSQL 사용하기

1. MYSQL 로그인하기
$ mysql -u root -p
  - passwd는 별도로 입력함.

2. 데이타 베이스 확인
$ show databases;

3. 데이타 베이스 사용 지정
$ use findb;

4. use지정 데이타베이스의 테이블 확인하기
$ show tables;

5. 테이블의 컬럼 확인하기
$ describe (table_name);