### 마켓 데이터 크롤링 100 - KRX 04 
# 상세 가격 데이터 구축

<img src="http://i.imgur.com/grQHNKG.jpg">
    
#### 2017 FinanceData http://fb.com/financedata

# 시가총액 순위 정보
* 시장정보 → 주식 → 순위정보 → 시가총액 상/하위 정보로 가격 데이터 구축
* http://marketdata.krx.co.kr/contents/MKD/04/0404/04040200/MKD04040200.jsp
* 일별: 종목코드, 종목명, 현재가, 등락률, 거래량, 거래대금, 시가총액, 시가총액비중(%), 상장주식수(천주), 외국인, 보유주식수, 외국인, 지분율(%)
* 1995-05-02 부터 현재까지 일자별

In [1]:
import requests

# STEP 01: Generate OTP
gen_otp_url = 'http://marketdata.krx.co.kr/contents/COM/GenerateOTP.jspx'
gen_otp_data = {
    'name':'fileDown',
    'filetype':'xls',
    'url':'MKD/04/0404/04040200/mkd04040200_01',
    'market_gubun':'ALL', #시장구분: ALL=전체, STK=코스피, KSQ=코스피, KNX=코넥스
    'indx_ind_cd':'', 
    'sect_tp_cd':'',
    'schdate':'20160601',
    'pagePath':'/contents/MKD/04/0404/04040200/MKD04040200.jsp',
}
    
r = requests.post(gen_otp_url, gen_otp_data)
code = r.content

# STEP 02: download
down_url = 'http://file.krx.co.kr/download.jspx'
down_data = {
    'code': code,
}

r = requests.post(down_url, down_data)
with open("marcap_data.xls", 'wb') as f:
    f.write(r.content)

# stock_master_krx()

In [2]:
import pandas as pd
import numpy as np
import requests
from io import BytesIO
from datetime import datetime

def stock_master_krx(date_str=None):
    # 시가총액순위 정보를 DataFrame으로 반환
    if date_str == None:
        date_str = datetime.today().strftime('%Y%m%d')

    # STEP 01: Generate OTP
    gen_otp_url = 'http://marketdata.krx.co.kr/contents/COM/GenerateOTP.jspx'
    gen_otp_data = {
        'name':'fileDown',
        'filetype':'xls',
        'url':'MKD/04/0404/04040200/mkd04040200_01',
        'market_gubun':'ALL', #시장구분: ALL=전체
        'indx_ind_cd':'',
        'sect_tp_cd':'',
        'schdate': date_str,
        'pagePath':'/contents/MKD/04/0404/04040200/MKD04040200.jsp',
    }
    
    r = requests.post(gen_otp_url, gen_otp_data)
    code = r.content
    
    # STEP 02: download
    down_url = 'http://file.krx.co.kr/download.jspx'
    down_data = {
        'code': code,
    }
    
    r = requests.post(down_url, down_data)
    df = pd.read_excel(BytesIO(r.content), header=0, thousands=',', converters={'종목코드': str})
    return df

In [3]:
# 1996-03-02, 1997-01-08 날짜의 데이터는 거래소 xlsx 파일 오류
    
date_str = datetime(2017, 2, 1).strftime('%Y%m%d')
df = stock_master_krx(date_str)
print('종목수:', len(df))
df.head(10)

종목수: 2246

,종목코드,종목명,현재가,대비,등락률,거래량,거래대금,시가,고가,저가,시가총액,시가총액비중(%),상장주식수(천주),외국인 보유주식수,외국인 지분율(%)
0,005930,삼성전자,1956000,-17000,-0.9,283008,556882303240,1977000,1983000,1952000,275168783172000,17.74,140679337,71276920,50.67
1,000660,SK하이닉스,54000,300,0.6,2813046,152598833428,54300,54900,53700,39312127710000,2.53,728002365,370034209,50.83
2,005935,삼성전자우,1565000,-6000,-0.4,53250,83744528025,1571000,1586000,1561000,32103513255000,2.07,20513427,15947012,77.74
3,005380,현대차,139500,0,0.0,446549,62393845500,140000,141000,139000,30728568820500,1.98,220276479,97234915,44.14
4,015760,한국전력,42450,0,0.0,1223714,52099731008,42550,43000,42450,27251375068650,1.76,641964077,201876137,31.45
5,035420,NAVER,771000,13000,1.7,92541,71304248000,761000,774000,760000,25414225509000,1.64,32962679,19999806,60.67
6,005490,POSCO,278000,7000,2.6,308192,84769854296,269000,278500,268000,24237940130000,1.56,87186835,47535669,54.52
7,028260,삼성물산,127000,1000,0.8,305080,38708666500,127000,127500,126000,24090635461000,1.55,189690043,16825840,8.87
8,012330,현대모비스,245000,3000,1.2,350179,86079850838,244000,247500,243000,23849246435000,1.54,97343863,45855696,47.11
9,055550,신한지주,46100,200,0.4,873055,40061063050,46100,46350,45300,21860600960700,1.41,474199587,322361474,67.98

# 날짜 생성

In [4]:
start = datetime(2017, 1, 1)
end = datetime(2017, 1, 31)
dates = pd.date_range(start=start, end=end)
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-14', '2017-01-15', '2017-01-16',
               '2017-01-17', '2017-01-18', '2017-01-19', '2017-01-20',
               '2017-01-21', '2017-01-22', '2017-01-23', '2017-01-24',
               '2017-01-25', '2017-01-26', '2017-01-27', '2017-01-28',
               '2017-01-29', '2017-01-30', '2017-01-31'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# 날짜 xlsx 파일을 marcap_daily에 저장

start = datetime(2017, 1, 20)
end = datetime(2017, 1, 31)
dates = pd.date_range(start=start, end=end)

for date in dates:
    date_str = date.strftime('%Y%m%d')
    df = stock_master_krx(date_str)
    print(date_str, end=', ')
    print('count: ', len(df))

20170120, count:  2244
20170121, count:  0
20170122, count:  0
20170123, count:  2244
20170124, count:  2245
20170125, count:  2246

In [ ]:
%%file krx_marcap_xlsx.py
#!/usr/bin/python3

import pandas as pd
import numpy as np
import requests
from io import BytesIO
import os
from datetime import datetime, timedelta

def stock_master_krx(date_str=None):
    # 시가총액순위 정보를 DataFrame으로 반환
    if date_str == None:
        date_str = datetime.today().strftime('%Y%m%d')

    # STEP 01: Generate OTP
    gen_otp_url = 'http://marketdata.krx.co.kr/contents/COM/GenerateOTP.jspx'
    gen_otp_data = {
        'name':'fileDown',
        'filetype':'xls',
        'url':'MKD/04/0404/04040200/mkd04040200_01',
        'market_gubun':'ALL', #시장구분: ALL=전체
        'indx_ind_cd':'',
        'sect_tp_cd':'',
        'schdate': date_str,
        'pagePath':'/contents/MKD/04/0404/04040200/MKD04040200.jsp',
    }
    
    r = requests.post(gen_otp_url, gen_otp_data)
    code = r.content
    
    # STEP 02: download
    down_url = 'http://file.krx.co.kr/download.jspx'
    down_data = {
        'code': code,
    }
    
    r = requests.post(down_url, down_data)
    df = pd.read_excel(BytesIO(r.content), header=0, thousands=',', converters={'종목코드': str})
    return df

if __name__ == "__main__":
    start = datetime(1996, 1, 1)
    end = datetime.today() - timedelta(days=1)
    dates = pd.date_range(start=start, end=end)

    data_dir = './krx_marcap_xlsx'
    if not os.path.exists(data_dir):
        os.makedirs(data_dir)

    for date in dates:
        date_str = date.strftime('%Y%m%d')
        fname = data_dir + '/' + 'marcap_' + date_str + '.xlsx'
        if not os.path.isfile(fname):
            print(date_str, end=', ')
            df = stock_master_krx(date_str)
            print('count: ', len(df))
            df.to_excel(fname, index=False)

다음과 같이 실행

```bash
$ python3 krx_marcap_xlsx.py
```

In [ ]:
%%file krx_marcap_xlsx2sqlite.py
#!/usr/bin/python3

import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import os
import sqlite3

create_table_query = """
    CREATE TABLE IF NOT EXISTS "marcap" (
        "날짜" TIMESTAMP,
        "종목코드" TEXT,
        "종목명" TEXT,
        "현재가" INTEGER,
        "대비" INTEGER,
        "등락률" REAL,
        "거래량" INTEGER,
        "거래대금" INTEGER,
        "시가총액" INTEGER,
        "시가총액비중(%)" REAL,
        "상장주식수(천주)" INTEGER,
        "외국인 보유주식수" REAL,
        "외국인 지분율(%)" REAL
    );

    CREATE INDEX IF NOT EXISTS "ix_marcap_날짜" ON "marcap" ("날짜");
    CREATE INDEX IF NOT EXISTS "ix_marcap_종목코드" ON "marcap" ("종목코드");
"""

if __name__ == "__main__":
    start = datetime(2000, 1, 1)
    end = datetime.today() - timedelta(days=1) # yearterday
    dates = pd.date_range(start=start, end=end)
    
    data_dir = './krx_marcap_xlsx'
    if not os.path.exists(data_dir):
        print(data_dir, ' not exists')
        exit(1)

    data_dir_to = './krx_marcap_sqlite'
    if not os.path.exists(data_dir_to):
        os.makedirs(data_dir_to)

    db_fname = data_dir_to + '/' + 'marcap.db'
    con = sqlite3.connect(db_fname)
    con.executescript(create_table_query)

    # db에 저장된 가장 최근 날짜
    latest_date = str(datetime(1970, 1, 1))
    df = pd.read_sql('select * from marcap order by "날짜" desc limit 1', con)
    if len(df) > 0:
        latest_date = df['날짜'][0]

    for date in dates:
        # skip previous date
        if str(date) < latest_date:
            continue
            
        # read .xlsx and write to sqlite
        date_str = date.strftime('%Y%m%d')
        fname = data_dir + '/' + 'marcap_' + date_str + '.xlsx'
        df = pd.read_excel(fname)
        df['날짜'] = date
        df.set_index('날짜', inplace=True)
        print(date_str, end=', ')
        print('count: ', len(df))
        df.to_sql('marcap', con, if_exists='append')
    con.close()

다음과 같이 실행

```bash
$ python3 krx_marcap_xlsx2sqlite.py
```

----
#### 2017 FinanceData http://fb.com/financedata http://financedata.github.com